*{
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 15pt;
    color:white;
    background-color: #050119;
}
nav{
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}

nav img{
  width: 100%;
}
.container{
  padding: 16px;
}

nav h1{
  font-weight: 800;
  font-style: bold
}

h3{
  color:#DBCDFF;
  margin-top: 20px;
  margin-bottom: 5px;
}

/*banners*/
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 90vmin;
  position: relative;
  /*transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;*/
  overflow:hidden;
}

.wrapper{
  width: 100%;
  display:flex;
  animation: slide 20s infinite;
}

.wrapper img{
  width: 100%;
  border-radius: 15px;
}
.wrapper a{
  flex: none;
  width: 100%;
  border-radius: 15px;
}


@keyframes slide{
  0%, 10%, 60%, 70%, 100%{
    transform: translateX(0);
  }
  50%, 60%{
    transform: translateX(-100%);
  }
}
/*estilos barra*/
#searchForm {
  border: none;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #9D5EFF; /* Borda lilás */
  border-radius: 10px;
  background: rgba(170, 158, 216, 0.5); /* Fundo branco com opacidade */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
}


#searchInput {
  border:none;
  outline: none;
  background: transparent;
  padding: 5px 10px;
  color:#DBCDFF;
  /*background-color: #8C70FB;*/
  /*border-radius: 50px; /*Bordas arredondadas */
  padding: 5px 10px;
  width: 400px;
  height: 20px;
}

/*#searchForm button {
  background-color: #0000FF; Fundo azul 
  border: none;
  border-radius: 10px;  Bordas arredondadas 
  color: white;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer; 
*/

#searchForm button:hover {
  background-color: #000099; /* Um azul mais escuro ao passar o mouse */
}

#searchInput::placeholder {
  color:#DBCDFF; /* Altere para a cor desejada */
}

/*grid home*/

.grid-contos {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px;
}

.conto {
  min-width: 160px; /* Ou a largura que você preferir */
  margin: 10px;
}

.conto img {
  width: 100%; /* Faz a imagem preencher o container */
  height: 220px; /* Altura fixa para todas as imagens */
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer */
  border-radius: 5px; /* Bordas arredondadas para as imagens */
  display: block; /* Garante que a imagem não tenha espaço extra embaixo */
}

.nome-conto {
  display: block; /* Isso garante que o span se comporte como um bloco */
  width: 100%; /* Garante que o nome ocupe toda a largura da capa */
  text-align: center; /* Centraliza o texto */
  color: white; /* Texto branco */
  padding: 5px 0; /* Espaçamento superior e inferior */
  margin-top: 5px; /* Espaçamento entre a capa e o título */
  font-size: 18px;
  font-weight: bold;
}

.rating {
  display: block; /* Transforma o span em um bloco para permitir o posicionamento correto */
  text-align: center; /* Centraliza as estrelas */
  width: 100%; /* Garante que as estrelas ocupem toda a largura do container */
  color: gold; /* Cor das estrelas */
  font-size: 20px; /* Tamanho das estrelas */
}
