body {
  background-color: #050119;
  font-family: Arial, sans-serif;
}

.grid-contos {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem conforme o tamanho da tela */
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.conto {
  border: 2px solid #9D5EFF;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%; /* Ajusta a largura para ser 100% em telas pequenas */
  margin: auto;
}

.conto img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.nome-conto {
  display: block;
  margin-top: 10px;
  color: #DBCDFF;
}

h3 {
  color: #DBCDFF;
}

/* Media query para telas menores que 600px */
@media (max-width: 600px) {
  .grid-contos {
    flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
  }

  .conto {
    width: 90%; /* Reduz a largura para dar espaço às bordas */
  }
}
