body {
  background-color: #050119;
  font-family: Arial, sans-serif;
}

.grid-contos {
  display: flex;
  overflow-x: scroll;
  overflow-y:hidden;
  padding: 15px;
  height:auto;
}

.conto {
  max-height: 100%;
  border: 2px solid #9D5EFF;
  border-radius: 10px;
  padding: 10px;
  max-width: 160px; /* Ou a largura que você preferir */
  margin: 5px;
  position: relative;
}

.conto img {
  width: 100%; /* Faz a imagem preencher o container */
  border-radius: 5px; /* Bordas arredondadas para as imagens */
  max-height: 100%;
  display: block; 
}

.nome-conto {
  margin-top: 10px;
  color: #DBCDFF;
}

h3 {
  color: #DBCDFF;
}

/* Media query para telas menores que 600px */
@media (max-width: 600px) {
  .grid-contos {
    flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
  }

  .conto {
    width: 90%; /* Reduz a largura para dar espaço às bordas */
  }
}